:root {
  --primary-blue: #00c6ff;
  --secondary-blue: #a6e3f0;
  --accent-color: #e74c3c;
  --text-color: #2c3e50;
  --muted-color: #7f8c8d;
  --background-color: #ecf0f1;
  --body-padding: 2vh;
  --body-border-radius: 1vh
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  background-color: white;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  border-radius: var(--body-border-radius);
  padding: var(--body-padding);
  min-height: calc(100vh - var(--body-padding));
}