@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.main {
  padding: 0 10px;
}

.header {
  margin-bottom: 10%;
}

.titleAndLogo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding: 5% 0;
}

.mainLogo {
  width: auto;
}

.mainTitle {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-blue);
}

.subtitle {
  width: 70%;
  font-size: 1.2rem;
  font-weight: 400;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.quoteText {
  text-align: center;
  font-size: .9rem;
}

.quoteAuthor {
  font-style: italic;
  font-size: .8rem;
  color: var(--muted-color);
}

.homeWhaleImage {
  position: absolute;
  right: 0;
  top: 25%;
  height: 60%;
  width: 90%;
  object-fit: cover;
}

.buttonContainer {
  width: calc(100% - 2 * var(--body-margin) - 2 * 10px);
  position: absolute;
  bottom: calc(var(--body-margin) * 5);
  display: flex;
  justify-content: space-between;
}

.buttonContainer > button > a {
  font-size: .8rem;
  font-weight: 500;
}

.pageBreak {
  width: calc((100% - 2 * var(--body-margin) - 2 * 10px));
  height: 15px;
  position: absolute;
  bottom: calc(var(--body-margin) * 2.5);

}